<div class="hero-unit">
  <h2>Вредители</h2>
    <ul style="color:#66CCFF;font-weight:bold;">
      <li><a href="#anchor1">Клопы</a></li>
      <li><a href="#anchor2">Тараканы</a></li>
      <li>Грызуны</li>
      <li>Блохи</li>
      <li>Плесневый грибок</li>
    </ul>
    <span id="anchor1"><h4 style="color:#339933;">Клопы</h4></span>
      <small>
        <p style="text-indent: 25px;">Клопы́  - подотряд насекомых из отряда полужесткокрылых (Hemiptera), ранее рассматриваемый в качестве самостоятельного отряда. Около 40 тыс. видов из более 50 семейств. На Дальнем Востоке России около 800 видов (для бывшего СССР указывалось свыше 2000 видов)[1].
В домашних условиях они приносят много вреда, принося болезненные ощущения и пугая детей.  
Особенно болезненно присутствие клопов переносят женщины и дети, из-за того, что у них наиболее тонкая кожа, чем у мужчин, а значит, через их кожу, проще питаться. Клопы живучие существа и борьба с ними должна осуществляться строго профессиональным способом, что сможет обеспечить наиболее скорейшее избавление от вредоносных клопов.
Проблемой самостоятельного избавления от блох, являются:
        </p>
          <ul>
            <li>Проворность и хитрость этих насекомых. Они достаточно легко приспосабливаются к окружающей обстановке и становятся менее беззащитными. При появлении опасности клопы прячутся, чтобы переждать опасность.
            </li>
            <li>Прячась клопы начинают размножаться, что достаточно плачевно сказывается на жизни людей из-за того что самки откладывают до 5 яиц в сутки. Всего в течение жизни от 250 до 500 яиц. Найти их яйца без специального оборудования практически не возможно, что сказывается на пользе от обработки, которая в течении пары недель, может сравняться с нулем.
            </li>
          </ul>
        <p style="text-indent: 25px;">Мы готовы предоставить вам профессиональную обработку, которая в течении двух недель в 90% случаев дает  результат. Мало того, что мы убиваем взрослых особей,  мы находим  и уничтожаем их яйца, что позволяет гарантировать ваше спокойствие  в течении долгого времени. 
От вашего спокойствия вас отделяет всего один шаг, <%= link_to "звонок в нашу компанию", contact_path %>.
        </p>
    <span id="anchor2"><h4 style="color:#339933;">Тараканы</h4></span>
        <p style="text-indent: 25px;">
Эти насекомые живут на планете много миллионов лет. Они пережили множество катастроф и адаптировались к жизни рядом с человеком. Ведя ночной образ жизни, и лакомясь отходами с нашего стола и фекалиями, они чувствуют себя вольготно в теплых, темных и влажных местах. Обработка от тараканов требует прямого доступа именно в такие места в первую очередь. В квартирах для этих насекомых есть все необходимое для жизни и размножения. Их уничтожение обуславливается не только неприятным видом, но и опасностью заражения человека редкими и неизлечимыми заболеваниями. Тараканы, переползая с отходов и фекалий на пищу заражают её гельминтами и кишечными инфекциями. 
Рыжие и черные тараканы, распространенные на территории России могут кусать человека (съедать верхний слой эпидермиса), вызывая воспалительные процессы на коже, заползать в слуховые проходы, вызывая воспаление. По этим и другим причинам стоит проводить дезинсекцию квартиры с помощью специалистов и современных средств.
        </p>
      </small>
</div>


<script type="text/javascript">
$(document).ready(function() {
   $('a[href^="#"]').click(function () { 
     elementClick = $(this).attr("href");
     destination = $(elementClick).offset().top;
     if($.browser.safari){
       $('body').animate( { scrollTop: destination }, 1100 );
     }else{
       $('html').animate( { scrollTop: destination }, 1100 );
     }
     return false;
   });
 });
</script>
