<div class="hero-unit">
   <h4>Дезинфе́кция,</h4>
        <p style="text-indent: 25px;">— это комплекс мероприятий, направленных на уничтожение

возбудителей инфекционных заболеваний и разрушение токсинов на объектах внешней

среды.  </p>

Дезинфекция состоит из 3 частей:
	<ul>
<li>Профилактическая­ проводится с целью предупреждения возникновения паразитов и

инфекционных заболеваний или недопущения их распространения на территории людей.</li>

<li>Текущая — проводится с целью разрушения механизма передачи инфекции и паразитов, от

больного, к окружающим его людям.</li>

<li>Заключительная ­ проводится в освобожденной территории заражен, с целью полного

освобождения инфекционного очага</li>



<ul id="myTab" class="nav nav-tabs">
   <li class="active"><a href="#home" data-toggle="tab"><small>Дезинфекция помещений</small></a></li>
   <li><a href="#second" data-toggle="tab"><small>Дезинфекция и чистка мусоропроводов</small></a></li>
   <li><a href="#last" tabindex="-1" data-toggle="tab"><small>Дезинфекция вентиляции и кондиционирования</small></a></li>
</ul>

<div id="myTabContent" class="tab-content">
   <div class="tab-pane fade in active" id="home">
        <h2>Дезинфекция помещений</h2>
    <ul>
      <li>Наша компания проводит профилактическую дезинфекцию от таких микроорганизмов, как кишечная палочка, кокки, плесневые грибы и т.п. в производственных помещениях, хранилищах, складах, холодильных камерах любого объема, при любой температуре, с гарантией выполнения действующих санитарных требований.</li>
      <li>Наряду с предоставлением услуг мы занимаемся разработкой и совершенствованием методов дезинфекции, что позволяет нам использовать современные препараты в своей работе.</li>
      <li>В последние 6 месяцев нашей компанией были проведены исследования по обсемененности микроорганизмами пищевых предприятий, на которых мы проводили работы по проф. дезинфекции.</li>
      <li>Было выявлено, что проведение проф. дезинфекции приводит к значительному снижению микроорганизмов (результаты приведены в таблице).</li>
    </ul>
    <table class="table table-bordered g">
      <tr>
        <td>
            <p class="center">Профиль пищевого предприятия</p>
        </td>
        <td>
            <p class="center">Обсемененность микроорганизмами до проведения проф. дезинфекции
на 1 грамм соскоба со стены</p>
        </td>
        <td>
            <p class="center">Обсемененность микроорганизмами после проведения проф. дезинфекции
на 1 грамм соскоба со стены</p>
        </td>
      </tr>
      <tr>
        <td>
            <p class="center">Производство молочной продукции</p>
        </td>
        <td>
            <p class="center">2 х 10<sup>4</sup></p>
        </td>
        <td>
            <p class="center">0</p>
        </td>
      </tr>
      <tr>
        <td>
            <p class="center">Хладокомбинаты</p>
        </td>
        <td>
            <p class="center">1,5 х 10<sup>3</sup></p>
        </td>
        <td>
            <p class="center">0</p>
        </td>
      </tr>
      <tr>
        <td>
            <p class="center">Консервное производство</p>
        </td>
        <td>
            <p class="center">2 х 10<sup>5</sup></p>
        </td>
        <td>
            <p class="center">1,5 x 10<sup>2</sup></p>
        </td>
      </tr>
      <tr>
        <td>
            <p class="center">Пивзаводы</p>
        </td>
        <td>
            <p class="center">3,1 х 10<sup>6</sup></p>
        </td>
        <td>
            <p class="center">0</p>
        </td>
      </tr>
      <tr>
        <td>
            <p class="center">Хлебозаводы и производство макаронных изделий</p>
        </td>
        <td>
            <p class="center">3 х 10<sup>6</sup></p>
        </td>
        <td>
            <p class="center">1,0 x 10<sup>2</sup></p>
        </td>
      </tr>
      <tr>
        <td>
            <p class="center">Колбасное производство</p>
        </td>
        <td>
            <p class="center">3 х 10<sup>6</sup></p>
        </td>
        <td>
            <p class="center">1,5 x 10<sup>2</sup></p>
        </td>
      </tr>
    </table>
    <ul>
      <li><h4 style="color:#339933">Способ проведения обработки:</h4></li>
      <li>Сначала проводится обработка всего объема помещения (стены, пол, потолок и воздух в помещении), при которой уничтожаются вредные микроорганизмы.</li>
      <li>Затем проводится обработка полимерным дезинфектантом (нужно описать это более простым языком) , в результате которой образуется на поверхностях пленка, препятствующая быстрому росту микроорганизмов.</li>
      <li>Особенностью нашей компании является то, что мы используем экологически чистые препараты, что позволяет уже через 2-3 часа после обработки возобновить производственный процесс.</li>
      <li><%= link_to "Мы можем провести микробиологические анализы на Вашем предприятии для оценки обсемененности микрофлорой и рассмотреть вопрос дальнейшего сотрудничества с Вашей организацией.", contact_path %></li>
    </ul>
   </div>
   <div class="tab-pane fade" id="second">
  <h2>Дезинфекция и чистка мусоропроводов</h2>
      <small>
        <p style="text-indent: 25px;">Мусоропровод в многоквартирном доме – устройство, облегчающее жизнь каждого жильца. Однако мусоропровод, как и другие коммуникации, требует качественного ухода. В противном случае он может стать источником инфекции и создать опасность для здоровья людей. Очистка мусоропровода – одно из направлений нашей деятельности. Очистка мусоропровода какое-то время назад была невероятно трудоемким процессом и требовала полного демонтажа всей системы. Сегодня очистка мусоропровода производится с помощью импортного оборудования и специальных технологий, позволяющих применить их к российским мусоропроводам (они имеют ряд отличий от зарубежных).</p>
	<p style="text-indent: 25px;">Очистка мусоропровода включает в себя промывание ствола мусоропровода особым дезраствором под давлением, а затем его дезинфекцию с помощью особой техники.</p>
	<h4>В обработку мусоропровода входит:</h4>

    <a href="#myModal" data-toggle="modal"><h4>Ковш мусоропровода</h4></a>
     
    <div class="modal modal hide fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Ковш мусоропровода</h3>
      </div>
      <div class="modal-body">
        <p style="text-indent: 25px;">Во время работ по очистке мусоропровода дезинфекции подвергаются все его части, в том числе, разумеется, ковш мусоропровода. </p>
	<p style="text-indent: 25px;">Кстати, во время проведения очистки ковш мусоропровода блокируется для того, чтобы избежать выброса мусора жильцами в момент очистки. В некоторых случаях, когда заблокировать ковш мусоропровода по тем или иным причинам нельзя, на досках объявлений подъездов, вывешиваются предупреждения о дате и времени проведения работ.</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
      </div>
    </div>

    <a href="#myModal2" data-toggle="modal"><h4>Мойка мусоропроводов</h4></a>
     
    <div class="modal modal hide fade in" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Мойка мусоропроводов</h3>
      </div>
      <div class="modal-body">
        <p style="text-indent: 25px;">Регулярная <span style="font-weight:bold;">(не реже раза в месяц)</span> мойка мусоропроводов – важная составляющая профилактики опасных заболеваний человека. Мойка мусоропроводов осуществляется с использованием дезинфицирующего раствора, обладающего бактерицидными свойствами. Мойка мусоропроводов при помощи такого раствора позволяет уничтожить такие опасные микроорганизмы, как, например, палочка Коха, возбудители сибирской язвы, гепатита В, полиомиелита и т.д. Перед тем, как будет осуществляться мойка мусоропроводов в доме, специалисты проверят, не забиты ли сливные каналы. Если необходимо, для очистки сточных каналов используется парогенератор. </p>
	<p style="text-indent: 25px;">В течении времени, пока идёт мойка мусоропроводов, пользоваться ими нельзя. Специалисты зафиксируют загрузочные клапаны либо разместят рядом с мусоропроводом на всех этажах предупреждающую информацию.</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
      </div>
    </div>
        <h4 style="color:#339933">Мусоропровод-дом</h4>
	<p style="text-indent: 25px;">В современных строениях, согласно всем техническим нормам, подразумевается мусоропровод: дом без него практически невозможно представить. А что думают сами жильцы, у которых оборудован системой мусороудаления (так «по-научному» именуется мусоропровод) дом?</p>
	<p style="text-indent: 25px;">Увы, современное состояние жилищно-коммунальных служб приводит к тому, что неубранный, «неухоженный» мусоропровод дом превращает подъезд дома в неприятное для нахождения место. Достаточно какое-то время не чистить и не дезинфицировать мусоропровод – дом облюбуют такие неприятные паразиты, как мыши, крысы и тараканы. Запах, который распространяет по подъезду забитый мусоропровод, дом делает похожим на подобие свалки.</p>
	<p style="text-indent: 25px;">Что делать жильцам в этой ситуации? Обратитесь к нам. Мы приведем в порядок мусоропровод – дом снова превратится в уютный, чистый и безопасный!</p>
      </small>
   </div>
   <div class="tab-pane fade" id="last">
  <h2>Дезинфекция вентиляции и кондиционирования</h2>

    <h4 style="color:#339933;"></h4>
      <small>
	<p style="text-indent: 25px;">Дезинфекция систем вентиляции и кондиционирования – мероприятие, от которого напрямую зависит здоровье людей.</p>
        <p style="text-indent: 25px;">Почему же дезинфекция систем вентиляции и кондиционирования столь важна?</p>
        <p style="text-indent: 25px;">Дело в том, что эти системы при ненадлежащем уходе могут повлиять на распространение инфекционных заболеваний, которые передаются воздушно-капельным путём. А поскольку этими системами оборудованы все офисы, бизнес-центры, предприятия, отсутствие своевременно проведенной дезинфекции систем вентиляции и кондиционирования может привести к всплеску заболеваемости. А так же накапливающиеся во время эксплуатации отложения пыли, жира создают благоприятную среду для развития болезнетворных микроорганизмов. К тому же эти отложения отрицательно влияют на пожарную безопасность и взрывоопасность в помещении. Своевременная дезинфекция систем вентиляции и кондиционирования – это чистый воздух в Вашем доме или офисе. Обращайтесь! Сделаем всё быстро и очень эффективно и вы получите  безопасный воздух, которым вы дышите.</p>
      </small>
   </div>
</div>
<script>
   $(function(){
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      // Get the name of active tab
      var activeTab = $(e.target).text(); 
      // Get the name of previous tab
      var previousTab = $(e.relatedTarget).text(); 
      $(".active-tab span").html(activeTab);
      $(".previous-tab span").html(previousTab);
   });
});
</script>
</div>
