<div class="hero-unit">
  <h2>Дезинсекция</h2>
      <small>
	<p style="text-indent: 25px; font-style:oblique; color:#33333;">Дезинсекция — один из видов обеззараживания, представляющий собой уничтожение заражённых насекомых с помощью специальных химических средств, путем воздействия горячей воды с паром или с помощью биологических средств.
	</p>
	<p style="text-indent: 25px;">Дезинсекция на предприятиях питания – мероприятие необходимое. Законодательство предусматривает ее регулярное осуществление. Присутствие тараканов и мух недопустимо ни в дорогом ресторане, ни на кухне в школе, ни в кондитерском цехе. А значит, дезинсекция на предприятиях питания должна быть профессиональной, эффективной и абсолютно безопасной. Поэтому дезинсекция на предприятиях питания (как и дератизация) предусматривает использование особых средств для истребления вредных насекомых. Дезинсекция на предприятиях питания проводится по строжайшим правилам, установленным Санэпиднадзором.
	</p>
	<h4 style="color:#339933;">Борьба с постельными клопами</h4>
	<p style="text-indent: 25px;">Как уже было сказано, борьба с постельными клопами – сложное дело. Чем раньше она начата, тем больше шансов на то, что борьба с постельными клопами успешно завершится в самые короткие сроки. Борьба с постельными клопами в Америке требует грандиозных затрат. К счастью, в нашей стране борьба с постельными клопами значительно более доступна по цене.
	</p>
	<p style="text-indent: 25px;">Эффективна ли она? Если Вы обращаетесь к нам – без сомнения! Борьба с постельными клопами производится специалистами, использующими особые методики, которые обеспечивают отличный и быстрый результат.
	</p>
	<h4 style="color:#339933;">Борьба с домашними клопами</h4>
	<p style="text-indent: 25px;">Поговорим немного подробней на эту неприятную тему борьба с домашними клопами.Пожалуй, многим кажется, что борьба с домашними клопами – удел обитателей ветхого жилья или густонаселенных общежитий. Увы, это не так. Домашние клопы могут внезапно обнаружиться в современном доме и абсолютно новой мебели. Главное – помнить: борьба с домашними клопами должна начаться незамедлительно, как только Вы обнаружили следы пребывания клопов в Вашем жилище. Как узнать, что борьба с домашними клопами превратилась в первоочередную необходимость? Обращайте внимание на цепочки зудящих укусов на коже, появляющиеся ночью, а также следы от раздавленных клопов на постели, сброшенные шкурки личинок на полу квартиры. Борьба с домашними клопами – наша задача. Обращайтесь, мы вернем Вам спокойный сон!
	</p>
	<h4 style="color:#339933;">Дезинсекция квартир</h4>
	<p style="text-indent: 25px;">Дезинсекция квартир подразумевает уничтожение большинства видов насекомых, отрицательно влияющих на жизнь человека. В понятие дезинсекция квартир» входит уничтожение таких насекомых, как тараканы, муравьи, блохи, клопы, моль, мухи, комары, клещи, осы и т.д. Специалисты указывают на то, что профилактическая дезинсекция квартир вполне доступна каждому человеку. Это тщательная уборка помещений, гигиена тела и постельного белья, выбивание мягкой мебели и т.д. Разумеется, иногда и эти меры не спасают, и требуется профессиональная дезинсекция квартир. Не пытайтесь провести такое сложное мероприятие, как дезинсекция квартир, самостоятельно! Обратитесь к профессионалам, в руках которых – опыт, эффективные средства и современное оборудование. Только в этом случае нужный эффект будет достигнут.
	</p>
      </small>
</div>
