<div class="hero-unit">
  <h2><span style="color:#339933">О Компании</span></h2>

  <small>ООО "ЭКО-ДЕЗ" »Это высококвалифицированная команда, которая   с 2001 г. профессионально  проводит работы по        дезинфекции, дезинсекции и дератизации в Москве и Московской области, используя профессиональные препараты. 
Мы успешно справляемся с плесневым грибком, поражающим поверхности помещений. Используем различные методы            уничтожения насекомых и грызунов, опасных в эпидемическом отношении или приносящих экономический вред.

  <h4 style="color:#339933">Мы проводим обработку в:</h4>
    <ul>
      <li>Производственных помещений</li>
      <li>Оборудования</li>
      <li>Хранилищ, складов</li>
      <li>Саун, бассейнов</li>
      <li>Магазинов</li>
      <li>Жилых квартир</li>
      <li>Подвалы и.т.п</li>
    </ul>
Мы гарантируем выполнения действующих санитарных требований СаНПиН, а так же компетентность наших сотрудников.  
Если Вы на своем предприятии или в своей квартире столкнулись с проблемами дезинфекции, плесневого грибка, грызунами или насекомыми, то обратитесь к нам.
Мы быстро и эффективно поможем Вам справиться <%= link_to "с этими проблемами.", damagers_path, html_options = { class: "btn btn-success" } %>
  </small>
</div>

