<div class="hero-unit">
  <h2>Обработка от плесневого грибка</h2>
    <h4 style="color:#339933;">На многих предприятиях существует прямая угроза здоровью работающих на них людей:</h4>
      <small>
        <p style="text-indent: 25px;">Через несколько лет работы на таких предприятиях люди могут стать инвалидами, и сейчас не существует способов не то, что вылечить, но и облегчить их состояние.</p>
        <p style="text-indent: 25px;">А причина весьма тривиальна - грибки. Грибок, сначала совсем маленький - его можно и не увидеть глазом,  прорастает в стену и выбрасывает споры в воздух (на этом этапе его споры, можно обнаружить, проведя пробы воздуха в помещении).</p>
        <p style="text-indent: 25px;">Далее споры грибка попадают в легкие, а так как там для них очень хорошие условия, они буквально прорастают в легких человека. Что дальше будет с человеком - можно легко догадаться. (симптомы идентичны симптомам туберкулеза, а в сравнении с «ящуром», о котором «шумит» вся Европа - это как «гангрена» по сравнению с «нарывом» на мизинце). Кроме этого грибки могут отравлять пищевые продукты токсинами, которые вызывают у людей тяжелые заболевания (цирроз, некроз, первичный рак и другие).</p>
    <a href="#myModal" data-toggle="modal"><h4>Как с этим бороться</h4></a>
     
    <div class="modal modal hide fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Как с этим бороться</h3>
      </div>
      <div class="modal-body">
        <p style="text-indent: 25px;">До сегодняшнего дня эффективные технологии борьбы с грибком не были широко известны. Рада Вам сообщить, что сейчас это доступно,  и у нас есть такие технологии, и мы можем не только уничтожить грибок на поверхности и в обсемененном спорами воздухе, но и при помощи уникальной в своем роде технологии, уничтожить  проросшие в стену части грибка, и это без применения дополнительной механической обработки. Это позволяет экономить огромные средства на капитальном ремонте помещения, который в свою очередь с грибком не справляется. </p>
	<p style="text-indent: 25px;">Если раньше СЭС смотрели на эти проблемы сквозь пальцы, потому что не было  эффективных способов дезинфекции, то в течение ближайших пару лет, нет никакой гарантии, что отношение их резко не изменится в этом вопросе. И вполне вероятна и такая картина: «В помещениях обнаружен грибок, либо пробы воздуха в помещениях предприятия показывают наличие спор грибка, и, как результат, предприятие закрывают до проведения полной дезинфекции во всех помещениях предприятия, при этом продукция, хранящаяся на предприятии, в большинстве случаев должна подлежать уничтожению.</p>
	<p style="text-indent: 25px;">Возможны проблемы в той области (дезинфекция) вашей работы, которая не направлена напрямую на получении прибыли вашего предприятия. Но, тем не менее, если ей не уделить должного внимания, то это может обернуться большими потерями (простои, продукция, подлежащая уничтожению, утраченное здоровье  людей - и ведь в связи с этим возможны судебные иски сотрудников, а иски потребителей - это то, что разоряет сейчас табачные корпорации запада).</p>
	<p style="text-indent: 25px;"><%= link_to "Наша компания может, и успешно справляется, с вышеизложенными проблемами в кратчайшие сроки и с высоким уровнем профессионализма.", contact_path %></p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
      </div>
    </div>
      </small>
</div>
